.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

h1 {
  font-family: "Satisfy", cursive;
}

.jumbotron p {
  text-transform: uppercase;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}
